* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("resource/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  overflow: hidden;
}

.container {
  margin-top: 350px;
  display: flex;
  gap: 80px;
}

.wrapper_1,
.wrapper_2 {
  display: flex;
  width: 1000px;
  flex-direction: column;
  gap: 20px;
  transition: ease-out .2s;
}



.row {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.row .avatar {
  width: 200px;
  height: 200px;
}

.icons {
  display: flex;
  gap: 25px;
}

.custom-button {
  justify-self: flex-end;
  width: 130px; /* Largura do botão */
  height: 130px; /* Altura do botão */
  background-image: url("resource/estrela_flat.png"); /* URL da imagem */
  background-size: cover; /* Ajusta a imagem para preencher o botão */
  background-position: center;
  border: none; /* Remove bordas */
  border-radius: 50%; /* Torna o botão redondo */
  cursor: pointer;
}
.custom-button:disabled{
  filter: grayscale(80%);
}

.hidden {
  visibility: hidden;
  display: none;
}
/* radio */
input[type="radio"] {
  display: none;
}

/* Estilo para o contêiner do radio */
.custom-radio {
  display: inline-block;
  width: 130px;
  height: 130px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

input[type="radio"]#planta + .custom-radio {
  background-image: url("resource/planta_flat.png"); /* URL da imagem para o estado selecionado */
}

/* Estilo para o estado selecionado */
input[type="radio"]#planta:checked + .custom-radio {
  border: solid 8px #51ff00;
  transform: scale(1.1);
}

input[type="radio"]#vomito + .custom-radio {
  background-image: url("resource/vomito_flat.png");
}

/* Estilo para o estado selecionado */
input[type="radio"]#vomito:checked + .custom-radio {
  border: solid 8px #51ff00;
  transform: scale(1.1);
}

input[type="radio"]#coracao_quebrado + .custom-radio {
  background-image: url("resource/coracao_quebrado_flat.png");
}

/* Estilo para o estado selecionado */
input[type="radio"]#coracao_quebrado:checked + .custom-radio {
  border: solid 8px #51ff00;
  transform: scale(1.1);
}

input[type="radio"]#coracao_quebrado + .custom-radio {
  background-image: url("resource/coracao_quebrado_flat.png");
}

/* Estilo para o estado selecionado */
input[type="radio"]#coracao_quebrado:checked + .custom-radio {
  border: solid 8px #51ff00;
  transform: scale(1.1);
}

input[type="radio"]#coracao + .custom-radio {
  background-image: url("resource/coracao_flat.png");
}

/* Estilo para o estado selecionado */
input[type="radio"]#coracao:checked + .custom-radio {
  border: solid 8px #51ff00;
  transform: scale(1.1);
}

input[type="radio"]#cobra + .custom-radio {
  background-image: url("resource/cobra_flat.png");
}

/* Estilo para o estado selecionado */
input[type="radio"]#cobra:checked + .custom-radio {
  border: solid 8px #51ff00;
  transform: scale(1.1);
}

/* loading */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000000aa;
  font-family: Arial, sans-serif;
}

/* Contêiner do spinner */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Spinner animado */
.spinner {
  width: 150px;
  height: 150px;
  border: 20px solid #51ff00; /* Cor de fundo do spinner */
  border-top: 20px solid transparent; /* Cor principal do spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animação de rotação */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Texto de carregamento */
.loading-text {
  margin-top: 15px;
  font-size: 18px;
  color: #555;
}

.toast {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.toast.hid {
  opacity: 0;
  pointer-events: none;
  transform: translateY(800px);
}

.toast.vis {
  opacity: 1;
  transform: translateY(10px);
}

.eliminated{
  filter: grayscale(80%);
  pointer-events: none; 
}